				<!-- footer -->
				<div id="skyline">
				
				<%= image_tag("skyline_header_black.jpg") %>
</div>
				<div id="footer">
					<div class="spacer_footer"></div>
					<div class="footer_menu">
						<table cellspacing="0" cellpadding="0" width="960px" border="0">
							<tr>
								<td valign="left" width="89">                                </td>
							  <td width="179"></td>
						  <td valign="top" width="156">
									<br />
<font color="#ea5347">dufte Berliner Produkte</font>
									<br />
									<a class="footer" href="/c/ueber-uns">Dufte Berliner</a>
									<br />
									<a class="footer" href="/c/dufte-berliner-produkte">Dufte Berliner Produkte</a>
									<br />
									<a class="footer" href="/c/dufte-haendler-gesucht">Dufte H&auml;ndler gesucht</a>
									<br />
									<a class="footer" href="/c/faq-haeufige-fragen">FAQ - H&auml;ufige Fragen</a>
									<br />
									<a class="footer" href="/c/dufte-designer">Dufte Designer</a>
									<br />
									<a class="footer" href="/c/presse">Presse</a>
								</td>
						  <td valign="top" width="199">
									<br />
<font color="#ea5347">Informationen</font>
									<br /></td>
						  <td valign="top" width="200">
									<br />
<font color="#ea5347">Service &amp; Angebote</font>
									<br /><a class="footer" href="/kundenkonto" target="_blank">Kundenkonto</a>
									<br /><a class="footer" href="http://www.trustedshops.de/profil/Dufte-Berliner-Produkte_XC8455F3F0C5A491DC18424B9CADCCEAF.html" target="_blank">Kostenloser K&auml;uferschutz</a>
									<br />
									<a class="footer" href="/s/newsletter">Newsletter</a>
									<br />
									<a class="footer" href="/blog/">Unser Blog</a>
									<br />
									<br /> <font color="#ea5347">Immer informiert bleiben!</font>
									<br />
									<a class="footer" href="https://www.facebook.com/Dufte.Berliner.Produkte" target="_blank">
										<%= image_tag("f_logo.png") %>
									</a>
									<a href="https://twitter.com/@DufteBerliner" target="_blank">
										<%= image_tag("t_logo.png") %>
									</a>
									<a href="https://plus.google.com/110707736573039555438/posts" target="_blank">
										<%= image_tag("g_logo.png") %>
									</a>
									<a href="http://www.dufteprodukte.de/" target="_blank">
										<%= image_tag("b_logo.png") %>
								
									</a>
									<a href="http://pinterest.com/dufteberliner/dufte-berliner-produkte/" target="_blank">
										<%= image_tag("pinterest.png", :size => "24x24") %>
									</a>
								</td>
								<td width="137">
									<div style="text-align: center; margin-top: 20px; margin-left: 15px;"></div><br />
								</td>
								<td width="10"></td>
						  </tr>
						</table>
					</div>
				</div>
				</div>
				<div align="middle" style="text-align: center">
					<br />#payment</div>
				<div style="text-align: center">&copy; 2013
					<a href="{tradoria.profile}" target="_blank">Dufte Berliner Produkte</a>
				</div>

			</div>